<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Registro de personal</h3>
            </div>
            <form role="form">
                <div class="box-body table-responsive">
                    <div class="col-md-6">
                        <div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label>DNI</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary" style="margin-top:10px;">Buscar</button>
                                    <!-- <label>DNI</label>
                                    <input type="text" class="form-control"> -->
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Nombres</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Rango</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Apellidos</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Teléfono Fijo</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Fecha Nacimiento</label>
                                    <input type="date" class="form-control" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Celular</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Sexo</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Lugar Nacimiento</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Tipo de recurso a asignar</label>
                                    <select class="form-control form-control-lg">
                                        <option>Motorizado</option>
                                        <option>Patrulla</option>
                                    </select>
                                </div>
                                <div>
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th></th>
                                            <th scope="col">Placa</th>
                                            <th scope="col">Marca</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">
                                                <input type="radio" id="seleccion">
                                            </th>
                                            <td>F01-324</td>
                                            <td>Toyota</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">
                                                <input type="radio" id="seleccion2">
                                            </th>
                                            <td>F12-856</td>
                                            <td>Nissan</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">
                                                <input type="radio" id="seleccion3">
                                            </th>
                                            <td>F23-758</td>
                                            <td>Hyunday</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                                <div>
                                    <button class="btn btn-primary" style="margin:10px;">Cancelar</button>
                                    <button class="btn btn-primary">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>